<h2>Реєстрація</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, "Електронна пошта", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Пароль", class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(мінімум <%= @minimum_password_length %> символів)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, "Підтвердження паролю", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Зареєструватися", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
