<div id="<%= dom_id place %>">
  <div>
    <strong>Name:</strong>
    <%= place.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= place.address %>
  </div>

  <div>
    <strong>Latitude:</strong>
    <%= place.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= place.longitude %>
  </div>

</div>
