<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title><%= content_for(:title) || "Gps Nav" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gps Nav">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">GPS Навігатор</a>
         <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
            <%= link_to "Головна", root_path, class: "nav-link" %>
           </li>
           <li class="nav-item">
            <%= link_to "Про нас", about_path, class: "nav-link" %>
           </li>
           <li class="nav-item">
            <%= link_to "Місця", places_path, class: "nav-link" %>
           </li>
          </ul>
        </div>
       <%= link_to "Додати місце", new_place_path, class: "btn btn-success" %>
      </div>
    </nav>

<div class="container">
    <%= yield %>
  </body>
</html>
